@import "tailwindcss";

@theme{
    --color-primary: #FBFBFB;
    --color-secondary: #393E46 ;
    --color-accent: #EC7FA9;
    --color-admin-accent: #0d542b;
    --color-admin-secondary: #dbfce7;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}